/* 2026 Nicole Oyama Portfolio Design
 * Last updated: 2026
 * 
 * 
 */

 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

 
* {
  box-sizing: border-box;
}

/* main layout */
 :root {  
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from, to {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

body {
  background-color: rgb(10, 10, 10);  
	font-family: "Nunito", sans-serif;  
	display: grid;
/*  height: 100vh;*/
  margin: 0px;
  overflow: hidden;
  place-items: center;
}

h1 {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  margin: 0px;
  padding: 20px;
  text-align: center;
}

h1 > .magic {
  display: inline-block;
  position: relative;
}

h1 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

h1 > .magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

h1 > .magic > .magic-star > svg > path {
  fill: var(--violet);
}

h1 > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
 /* background-size: 200%;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}



.center-text { 
	text-align: center;
}

b, strong {
    text-decoration: underline;
    text-decoration-color: #4ca39a;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: -0.25rem;
}

img /*responsive images*/{ 
  max-width: 100%;
  height: auto;
} 
 
/* lists and nav #primary-menu so only the menu is inline and other lists are not*/

 
.menu li {
	list-style: none;	
	margin-left:20px;
	display: inline-block;
	padding: 10px;
	float: left;
}

/* when you select something and the background color that pops up*/
::-moz-selection {
	background:#fe6e6e;
	color: #fff;
}

::selection {
	background: #4ca39a;
	color: #fff;
}

 
.site-header { 
	margin-bottom: 40px;
} 

 
footer { 
    font-size: 80%; 
    margin-bottom: 4em;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* links */
a {   font-weight: bold; }
a:link { color: #4ca39a; }
a:visited { color: #aaa5cb;}
a:hover { color: #3e3f41;}
