/* 2026 Nicole Oyama Portfolio Design
 * Last updated: 2026
 * 
 * 
 */
 
* {
  box-sizing: border-box;
} 

/* main layout */
body {
 background-color: #F2EAE0;
  font-size:1em;
	margin: 0 1em;
	overflow-wrap: break-word;
	color: #464059;
 display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

img {
  border-radius: 20px; /* Adjust this value for more or less curve */
}

.caption-style {
	padding: 5px;
	margin: 10px;
}

 

.wrapper { 
 max-width: 1200px;
  width: 90%; /* Keeps some padding on small screens */
  margin: 0 auto;
}

 
.center-text { 
	text-align: center;
}

b, strong {
    text-decoration:  bold;
   color: #67bed9;
    
}

img /*responsive images*/{ 
  max-width: 100%;
  height: auto;
} 
 
/* lists and nav #primary-menu so only the menu is inline and other lists are not*/

 
.menu li {
	list-style: none;	
	margin-left:20px;
	display: inline-block;
	padding: 10px;
	float: left;
}

/* when you select something and the background color that pops up*/
::-moz-selection {
	background: #b4d3d9;
	color: #464059;
}

::selection {
	background:#b4d3d9;
	color: #464059;
}

 
.site-header { 
	margin-bottom: 40px;
} 

 
footer { 
    font-size: 80%; 
    margin-bottom: 4em;
	text-align: center;
}

/* links */
a {   font-weight: bold; }
a:link { color: #67bed9; }
a:visited { color: #B4D3D9;}
a:hover { color: #000; text-decoration: underline;
    text-decoration-color: #9B8EC7;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: -0.25rem;}
