/* 2023 Nicole Oyama Portfolio Design
 * Last updated: 02/14/24
 * 
 * 
 */

 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

 
* {
  box-sizing: border-box;
}

/* main layout */
body {
	background-color: #598392;
	font-family: 'Nunito', sans-serif;
  font-size: calc(15px + 0.390625vw);
	margin: 0 1em;
	overflow-wrap: break-word;
	color: #01161e;
	width: 100%;
	
}

.caption-style {
	padding: 5px;
	margin: 10px;
}
 
.wrapper { 
 background-color: #aec3b0;
  width: min(100% - 30px, 1000px);
  margin-inline: auto;
}

/*styling for big text*/
.biggy-text { 
 font-size: calc(1em + 2.5vw);
	font-weight: 600;     
	overflow-wrap: break-word;
}

.center-text { 
	text-align: center;
}

img /*responsive images*/{ 
  max-width: 100%;
  height: auto;
} 
  
/* when you select something and the background color that pops up*/
::-moz-selection {
	background:#fe6e6e;
	color: #fff;
}

::selection {
	background: #fe6e6e;
	color: #fff;
}
 
/*columns*/

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
	margin: auto; 
	width: 80%; 
}
 

footer { 
    font-size: 80%; 
    margin-bottom: 4em;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* links */
a {   font-weight: bold; }
a:link { color: #4ca39a; }
a:visited { color: #aaa5cb;}
a:hover { color: #3e3f41;}
