/* 2025 Nicole Oyama Portfolio Design
 * Last updated: 03/31/25
 * 
 */

 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

 
* {
  box-sizing: border-box;
}

/* main layout */
body {
	background-color: #F8F9F9;
	font-family: 'Nunito', sans-serif; 
	font-size:1.2rem
	margin: 0 1em;
	overflow-wrap: break-word;
	color: #2E4053;
	width: 100%;
	line-height: 1.5em;
	
}

h1 { color:  #49B699; } 
h2 { color: #49B699; } 
 
.wrapper { 
  width: min(100% - 30px, 1000px);
  margin-inline: auto;
 padding:10px; 
}
 
.center-text { 
	text-align: center;
}

img /*responsive images*/{ 
  max-width: 100%;
  height: auto;
} 
  
/* when you select something and the background color that pops up*/
::-moz-selection {
	background:#49B699;
	color: #fff;
}

::selection {
	background: #49B699;
	color: #fff;
}
 
/*columns*/

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
	margin: auto; 
	width: 80%; 
}
 

footer { 
    font-size: 80%; 
    margin-bottom: 4em;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} 
